* {
    margin: 0;
    padding: 0;
    font-family: 'josefin Sans', sans-serif;
    box-sizing: border-box;
  
}
body {
    padding: 0px;
    margin: 0px;
}

.container {
    width: 100%;
    background-color: #000000;
    color: #ffffff;
    padding-bottom: 20px;
    padding: 50px 20px 10px 20px;
}
.container .menu {

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px;
    height: 70px;
}
.container .logo {
    color: #dedce1;
    font-size: 18px;
    text-transform: uppercase;
}
.container .logo span {
    padding-left: 10px;
    color: rgb(182, 182, 21);
}
.menu ul {
    list-style-type: none;
}
.menu ul li {
    display: inline-table;
    padding: 0px 20px;
}
.menu ul li a {
    position: relative;
    display: block;
    text-decoration: none;
    color: #dedce1;
    font-size: 20px;
}
.menu ul li a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: rgb(182, 182, 21);
    top: 110%;
    left: 0;
    border-radius: 5px;
    transition: 0.4s;
    transform: scale(0);
}
.menu ul li a:hover::after {
    transform: scale(1);
}
.menu ul li a.active::after {
    transform: scale(1);
}
nav.sticky {
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px 8%;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu #menuBtn {
    cursor: pointer;
    user-select: none;
    display: none;
}
#menuBtn .bar {
    width: 26px;
    height: 3px;
    background-color: #dedce1;
    margin: 5px auto;
    border-radius: 5px;
    transition: 0.4s cubic-bezier(1, 0.2, 0.2, 1);
}
.container main {
    padding: 50px 0px 0px 10px;
    align-items: center;
}
main .infoText {
    padding: 0 8%;
    text-align: center;
    
}
.infoText p {
    color: #79747b;
    font-size: 22px;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.infoText h1 {
    
    color: #dedce1;
    font-size: 50px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-shadow: 2px 2px 2px #333, -2px -2px 2px #333;
}
.infoText h1 span {
    color: rgb(182, 182, 21);
    padding-left:10px ;
    display: block;
    
}
.infoText button {
    padding: 10px 12px;
    border: #79747b 1px solid;
    border-radius: 20px;
    outline: none;
    font-size: 18px;
    text-transform: uppercase;
    background-color: #000000;
    color: #79747b;
    margin-top: 40px;
    cursor: pointer;
    transition: all 0.4s;
}
.infoText h1 span1 {
    display: none;
    color: rgb(182, 182, 21);
    padding-left:10px ;
    
}

.infoText button:hover {
    color: rgb(182, 182, 21);
}
.socialMediaIcons {
    display: none;
    position: absolute;
    bottom: 60px;
    left: 10%;
}
.socialMediaIcons a i {
    font-size: 24px;
    padding-right: 20px;
    color: #dedce1;
    transition: 0.4s;
}
.socialMediaIcons a li:hover {
    color: rgb(182, 182, 21);
    transform: scale(1.2);
}
@media only screen and (max-width: 768px) {
    .menu #menuBtn {
        display: block;
    }
    .menu ul {
        position: fixed;
        width: 250px;
        height: calc(100vh - 70px);
        top: 70px;
        right: -250px;
        background-color: #232323;
        border-radius: 30% 0% 0% 80%;
        display: flex;
        align-items: center;
        flex-direction: column;
        border-top: 1px solid black;
        transition: right 0.4s cubic-bezier(1, 0.2, 0.2, 1);
    }
    .menu ul li {
        padding: 20px;
        letter-spacing: 2px;
    }
    .menu ul li:nth-child(1) {
        margin-top: 30px;
    }
    .container .menu {
        background-color: #232323;
    }
    .container main {
        background-position: center;
    }
    #menuBtn.active .bar:nth-child(2) {
        transform: translateX(-30px);
        opacity: 0;
    }
    #menuBtn.active .bar:nth-child(1) {
        transform: translateX(8px) rotate(45deg);
        
    }
    #menuBtn.active .bar:nth-child(3) {
        transform: translateX(-8px) rotate(-45deg);
        
    }
    .menu ul.active {
        right: 0;
    }
}
.center{
    text-align: center;
}
 
 a {
    text-decoration: none;
    color: rgb(182, 182, 21);
 }
 .about {
    width: 100%;
    padding: 50px 20px 10px 20px;
    background-color: #2b2929;
    align-content: center;
 }
 .about img {
    text-align: center;
    height: auto;
    width: 320px;
 }
 .about-text {
    text-align: center;
    width: 320px;

 }
 .main2 {
    width: 100%;
    align-content: center;
   
   
 }
 .about-text h2 {
    color: white;
    font-size: 65px;
    text-transform: capitalize;
    margin-bottom: 20px;
    
 } 
 .about-text h5 {
    color: white;
    letter-spacing: 2px;
    font-size: 22px;
    margin-bottom: 25px;
    text-transform: capitalize;
    
 }
 .about-text h5 span {
    color: rgb(182, 182, 21);
 }
 .about-text p {
    color: #e7c3c3;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
    
 }
 #button {
    background-color: rgb(182, 182, 21);
    color:#fafafa;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: 4s;
    
 }
 #button:hover {
    background-color: transparent;
    border: 2px solid rgb(182, 182, 21);
    cursor: pointer;
 }
 .services {
    background-color: #101010;
    width: 100%;
    padding: 50px 20px 10px 20px;
 }
 .title h2 {
    color: white;
    font-size: 65px;
    text-align: center;
 }
 .box {
    justify-content: center;
    align-items: center;
    min-height: 400px;
 }
 .card {
    height: 365px;
    width: 335px;
    padding: 20px 35px;
    background: #191919;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
 }
 .card i {
    font-size: 50px;
    display: block;
    text-align: center;
    margin: 25px 0px;
    color: rgb(182, 182, 21) ;
 }
 h5 {
    color: white;
    font-size: 23px;
    margin-bottom: 15px;
 }
 .pra p {
    color: #e7c3c3;
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 25px;
 }
 .card #button {
    background-color: rgb(182, 182, 21);;
    color:#fafafa;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: 4s;
    
 }
 .card #button:hover {
    background-color: transparent;
    border: 2px solid rgb(182, 182, 21);
    cursor: pointer;
 }
 .mywork {
    width: 100%;
    height: 290px;
    background-color: #191919;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 50px 20px 10px 20px;
 }
 .mywork h2 {
    color: white;
    font-size: 65px;
    text-align: center;
 }
 .contact-me {
    width: 100%;
    height: 290px;
    background-color: #191919;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 50px 20px 10px 20px;
 }
 .contact-me p {
    text-align: center;
    color: white;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 25px;
 }
 .contact-me .button-two {
    background-color: rgb(182, 182, 21);;
    color:#fafafa;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: 4s;
 }
 .contact-me .button-two:hover {
    background-color: transparent;
    border: 2px solid rgb(182, 182, 21);
    cursor: pointer;
 }
 footer {
    position: relative;
    width: 100%;
    height: 400px;
    background: #101010;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 20px 10px 20px;

 }
 footer p:nth-child(1) {
    font-size: 30px;
    color: white;
    margin-bottom: 20px;
    font-weight: bold;
 }
 footer p:nth-child(2) {
    display: none;
    color: white;
    font-size: 17px;
    width: 500px;
    text-align: center;
    line-height: 26px;
 }
 .social {
    display: flex;
    
 }
.social a  {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(182, 182, 21);
    border-radius: 50%;
    margin: 22px 10px;
    font-size: 20px;
    color: white;
    text-decoration: none;
   
}
.social a:hover {
    
    transform: scale(1.3);
    transition: 0.4s;
}
.done {
    position: absolute;
    color: rgb(182, 182, 21);
    bottom: 35px;
    font-size: 14px;
}
@media only screen and (min-width: 1000px) {
    .container main {
        height: 100vh;
     background-image: url(DSC_4743a\ \(3\).jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right -20px;
    object-fit: cover;
    display: flex;
    justify-content: flex-start;
    background-attachment: fixed;
    }
    .container {
        width: 100%;
        background-color: #000000;
        color: #ffffff;
        padding: 0px 0px 20px;
    }
    main .infoText {
        padding: 0 8%;
        text-align: left;
    }

    .infoText p {
        color: #79747b;
        font-size: 22px;
        letter-spacing: 1px;
        text-transform: uppercase;
    }
    .infoText h1 {
        color: #dedce1;
        font-size: 50px;
        letter-spacing: 2px;
        text-transform: uppercase;
        text-shadow: 2px 2px 2px #333, -2px -2px 2px #333;
    }
    
    .infoText h1 span {
        display: inline;
        color:rgb(182, 182, 21);
        padding-left:10px ;
        
    }
    .infoText button {
        padding: 10px 12px;
        border: #79747b 1px solid;
        border-radius: 20px;
        outline: none;
        font-size: 18px;
        text-transform: uppercase;
        background-color: #000000;
        color: #79747b;
        margin-top: 40px;
        cursor: pointer;
        transition: all 0.4s;
    }
    .infoText button:hover {
        color: rgb(182, 182, 21);
    }
    .socialMediaIcons {
        display: inline;
        position: absolute;
        bottom: 60px;
        left: 9%;
    }
    .socialMediaIcons a i {
        font-size: 24px;
        padding-right: 20px;
        color: #dedce1;
        transition: 0.4s;
    }
    .socialMediaIcons a li:hover {
        color: rgb(182, 182, 21);
        transform: scale(1.2);
    }
    .main2 {
        width: 100%;
        max-width: 95%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-around;
       
     }

     .box {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 400px;
     }
     .about {
        width: 100%;
        padding: 50px 0px;
        background-color: #2b2929;
        align-content: center;
     }
     
     .about img {
        height: auto;
        width: 350px;
     }
     .about-text {
        width: 350px;
    
     }
     .main2 {
        width: 100%;
        align-content: center;
       
       
     }
     .about-text h2 {
        color: white;
        font-size: 75px;
        text-transform: capitalize;
        margin-bottom: 20px;
        
     } 
     .about-text h5 {
        color: white;
        letter-spacing: 2px;
        font-size: 22px;
        margin-bottom: 25px;
        text-transform: capitalize;
        
     }
     .about-text h5 span {
        color: rgb(182, 182, 21);
     }
     .about-text p {
        color: #e7c3c3;
        letter-spacing: 1px;
        line-height: 28px;
        font-size: 18px;
        margin-bottom: 45px;
        
     }
     #button {
        background-color: rgb(182, 182, 21);
        color:#fafafa;
        text-decoration: none;
        border: 2px solid transparent;
        font-weight: bold;
        padding: 13px 30px;
        border-radius: 30px;
        transition: 4s;
        
     }
     #button:hover {
        background-color: transparent;
        border: 2px solid rgb(182, 182, 21);
        cursor: pointer;
     }
     .title h2 {
        color: white;
        font-size: 75px;
        width: 1130px;
        margin: 30px auto;
        text-align: center;
     }
     
     .services {
        background-color: #101010;
        width: 100%;
        padding: 50px 0px;
     }
     .contact-me {
    width: 100%;
    height: 290px;
    background-color: #191919;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 50px 20px 10px 20px;
 }
 .contact-me p {
    color: white;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 25px;
 }
 footer {
    position: relative;
    width: 100%;
    height: 400px;
    background: #101010;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

 }
 footer p:nth-child(2) {
    display: inline;
    color: white;
    font-size: 17px;
    width: 500px;
    text-align: center;
    line-height: 26px;
 }
 
}
